$OceanwidePath: '/fonts' !default;
$OceanwideVersion: '1.0' !default;

@font-face {
  font-family: 'Oceanwide';
  src: url('https://fonts.cdnfonts.com/css/oceanwide') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}